.card-sign {
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    align-content: center;
    background-color: white;
    align-self: center;
}

.card-sign-title-div {
    align-items: center;
    justify-content: center;
    align-content: center;
    // background-color: red;
    align-self: center;
}
 
.card-sign-title {
//    color: black;
   color: #21527f;
   font-size: 2rem;
   font-weight: 1000;
}